# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Log files
*.log

# Cache
.cache-loader

# Sensitive data
.env
.env.backup
.env.production

# General
!.gitkeep

# Editors
/.fleet
/.idea
/.vscode
